<div class="container">
  <h1 class="welcome-tag">PokeCritters</h1><br>
  <h2 class="welcome-subheading">Gotta Catch em All</h2>
</div>

<div class="container">
  <% @pokemon.each do |pokemon|%><br>
    <%=image_tag(pokemon.image)%><br>
   Name: <%=link_to pokemon.name.capitalize, pokemon_path(pokemon.name)%><br>
   Weight: <%=pokemon.weight%><br>
   Height: <%=pokemon.height%><br>
   Type 1: <%=pokemon.type_1%><br>
   Type 2: <%=pokemon.type_2%><br>
  <%end%>
</div>

