<div class="container">
  <%=image_tag(@show_pokemon.image)%>
  <%=@show_pokemon.name.capitalize%>
  <%=@show_pokemon.weight%>
  <%=@show_pokemon.height%>
  <%=@show_pokemon.type_1%>
  <%=@show_pokemon.type_2%>
</div>